* {
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
  color:antiquewhite;
}

main {
  max-width: 360px;
  margin: 35px auto;
}

h1 {
  text-align: center;
  color: #fff;
  margin: 0;
}

form {
  margin-top: 20px;
}

form input {
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid black;
  padding: 2px 5px;
  border-radius: 5px;
}

form input[type="datetime-local"] {
  color: #777;
}

form div.basic {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}